from pydantic import Field
from zodiac_core.pagination import PageSortParams
from zodiac_core.schemas import CoreModel, IntIDSchema


class {{ resource_class }}ListParams(PageSortParams):
    keyword: str | None = Field(None, min_length=1, description="Search by {{ resource_name }} name.")


class {{ resource_class }}Create(CoreModel):
    name: str = Field(min_length=1)


class {{ resource_class }}Read(IntIDSchema):
    name: str
