from fastapi import FastAPI
from zodiac_core.exception_handlers import register_exception_handlers
from zodiac_core.middleware import register_middleware

from .api.router import router
from .core.container import Container


def create_{{ service_name }}_app() -> FastAPI:
    app = FastAPI(title="{{ service_name }}-service")

    register_middleware(app, service_name="{{ service_name }}")
    register_exception_handlers(app)

    container = Container()
    container.wire(
        modules=[
            "{{ package_name }}.{{ service_name }}.api.router",
            "{{ package_name }}.{{ service_name }}.api.routers.{{ resource_name }}_router",
        ]
    )
    app.state.container = container

    app.include_router(router)
    return app
