from sqlalchemy import select
from zodiac_core.db.repository import BaseSQLRepository
from zodiac_core.pagination import SortSpec

from {{ package_name }}.users.infrastructure.database.models.user_model import UserModel


class UserRepository(BaseSQLRepository):
    sort_spec = SortSpec(
        columns={
            "id": UserModel.id,
            "name": UserModel.name,
            "email": UserModel.email,
        },
        default=["id:asc"],
    )

    async def create(self, user: UserModel) -> UserModel:
        async with self.session() as session:
            session.add(user)
            await session.commit()
            await session.refresh(user)
            return user

    async def list(self, params):
        return await self.paginate_query(select(UserModel), params)
