from zodiac_core.routing import APIRouter

from {{ package_name }}.{{ service_name }}.api.routers.{{ resource_name }}_router import router as {{ resource_name }}_router

router = APIRouter(prefix="/api/v1")

router.include_router(
    {{ resource_name }}_router,
    prefix="/{{ resource_plural }}",
    tags=["{{ resource_plural_class }}"],
)
