from sqlalchemy import select
from zodiac_core.db.repository import BaseSQLRepository
from zodiac_core.pagination import SortSpec

from {{ package_name }}.orders.infrastructure.database.models.order_model import OrderModel


class OrderRepository(BaseSQLRepository):
    sort_spec = SortSpec(
        columns={
            "id": OrderModel.id,
            "item": OrderModel.item,
            "quantity": OrderModel.quantity,
        },
        default=["id:asc"],
    )

    async def create(self, order: OrderModel) -> OrderModel:
        async with self.session() as session:
            session.add(order)
            await session.commit()
            await session.refresh(order)
            return order

    async def list(self, params):
        return await self.paginate_query(select(OrderModel), params)
