from zodiac_core.config import StrictConfig


class DbConfig(StrictConfig):
    url: str
    echo: bool = False


class CacheConfig(StrictConfig):
    prefix: str
    default_ttl: int = 300


class LoggingConfig(StrictConfig):
    level: str = "INFO"
    json_format: bool = True
    service_name: str = "{{ project_name }}"
