from dependency_injector import containers, providers

from {{ package_name }}.users.application.services.user_service import UserService
from {{ package_name }}.users.infrastructure.database.repositories.user_repository import UserRepository


class Container(containers.DeclarativeContainer):
    config = providers.Configuration(strict=True)

    user_repository = providers.Factory(UserRepository)

    user_service = providers.Factory(
        UserService,
        repository=user_repository,
    )
