from typing import Annotated

from dependency_injector.wiring import Provide, inject
from fastapi import Depends, Query
from zodiac_core.pagination import PagedResponse
from zodiac_core.routing import APIRouter

from {{ package_name }}.orders.api.schemas.order_schema import OrderCreate, OrderListParams, OrderRead
from {{ package_name }}.orders.application.services.order_service import OrderService
from {{ package_name }}.orders.core.container import Container

router = APIRouter()


@router.get("", response_model=PagedResponse[OrderRead])
@inject
async def list_orders(
    page_params: Annotated[OrderListParams, Query()],
    service: Annotated[OrderService, Depends(Provide[Container.order_service])],
):
    return await service.list_orders(page_params, keyword=page_params.keyword)


@router.post("", response_model=OrderRead, status_code=201)
@inject
async def create_order(
    payload: OrderCreate,
    service: Annotated[OrderService, Depends(Provide[Container.order_service])],
):
    order = await service.create_order(payload)
    return OrderRead.model_validate(order)
