from typing import Annotated

from dependency_injector.wiring import Provide, inject
from fastapi import Depends, Query
from zodiac_core.pagination import PagedResponse
from zodiac_core.routing import APIRouter

from {{ package_name }}.users.api.schemas.user_schema import UserCreate, UserListParams, UserRead
from {{ package_name }}.users.application.services.user_service import UserService
from {{ package_name }}.users.core.container import Container

router = APIRouter()


@router.get("", response_model=PagedResponse[UserRead])
@inject
async def list_users(
    page_params: Annotated[UserListParams, Query()],
    service: Annotated[UserService, Depends(Provide[Container.user_service])],
):
    return await service.list_users(page_params, keyword=page_params.keyword)


@router.post("", response_model=UserRead, status_code=201)
@inject
async def create_user(
    payload: UserCreate,
    service: Annotated[UserService, Depends(Provide[Container.user_service])],
):
    user = await service.create_user(payload)
    return UserRead.model_validate(user)
