from typing import Annotated

from dependency_injector.wiring import Provide, inject
from fastapi import Depends
from zodiac_core.routing import APIRouter

from {{ package_name }}.orders.api.routers.order_router import router as order_router
from {{ package_name }}.orders.application.services.order_service import OrderService
from {{ package_name }}.orders.core.container import Container

router = APIRouter(prefix="/api/v1")

router.include_router(order_router, prefix="/orders", tags=["Orders"])


@router.get("/info")
@inject
async def service_info(
    service: Annotated[OrderService, Depends(Provide[Container.order_service])],
):
    """Service metadata endpoint."""
    return await service.service_info()
