from pydantic import Field
from zodiac_core.schemas import CoreModel, IntIDSchema


class OrderCreate(CoreModel):
    user_id: int = Field(gt=0)
    item: str = Field(min_length=1)
    quantity: int = Field(default=1, ge=1)


class OrderRead(IntIDSchema):
    user_id: int
    item: str
    quantity: int
